# This a template of systemd service file.

[Unit]
Description=Autolabor PM1 Driver Service
After=autolabor.vpn.service

[Service]
ExecStart=/home/autolabor/repos/lidar_faselase

[Install]
WantedBy=multi-user.target
